{% extends "layout.html" %}

{% block title %}Muokkaa kirja-arvostelua{% endblock %}

{% block content %}
<h1>Muokkaa kirja-arvostelua</h1>
<p>
  Kirja-arvostelu: <a href="/book/{{ book.id }}">{{ book.title }}</a>
</p>
<form action="/update_book" method="post">
  <p>
    Kirjan nimi: <br />
    <input type="text" name="title" value="{{ book.title }}" maxlength="70" required/>
  </p>
  <p>
    Kirjailija: <br />
    <input type="text" name="author" value="{{ book.author }}" maxlength="70" required>
  </p>
  <p>
    Sanallinen arvostelu: <br />
    <textarea name="description" rows="15" cols="25" maxlength="1000" required>{{ book.description }}</textarea>
  </p>
  <p>
    Numeroarvio 1-5: <br />
    <input type="number" name="book_grade" min="1" max="5" size="8" pattern="[1-5]" value="{{ book.book_grade }}" required/>
  </p>
  <input type="hidden" name="book_id" value="{{ book.id }}" />
  {% for class in all_classes %}
  <p>
    {{ class }}: <br />
    <select name="classes">
      <option value="">(valitse)</option>
    {% for option in all_classes[class] %}
      {% if classes[class] == option %}
      <option value="{{ class }}:{{ option }}" selected>{{ option }}</option>
      {% else %}
      <option value="{{ class }}:{{ option }}">{{ option }}</option>
      {% endif %}
    {% endfor %}
    </select>
  </p>
  {% endfor %}
  <input type="submit" value="Muokkaa kirja-arvostelua" />
</form>
<p>
  <a href="/book/{{ book.id }}">Takaisin</a>
</p>
{% endblock %}