<!DOCTYPE html>
<html>

<head>
  <title>{{ book.title }}</title>
</head>

<body>
  <h1>{{ book.title }}</h1>
  {% if book.user_id == session.user_id %}
  <p>
    <a href="/edit_book/{{ book.id }}">Muokkaa</a>
    <a href="/remove_book/{{ book.id }}">Poista</a>
  </p>
  {% endif %}
    <p>
        {{ book.description }}
    </p>
    <p>
        Arvosana kirjalle: {{book.book_grade}}
    </p>
    <p>
        Arvostelun laatija: <a href="/user/{{ book.user_id }}">{{ book.username }}</a>
    </p>
    <p>
        <a href="/">Takaisin</a>
    </p>
</body>

</html>
